<!DOCTYPE html>
<html lang="en">
<head>
<title > Test Online App</title>
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Minified JS    -->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="/static/bootstrap-3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body >
<div class="bd-index"></div>
<div class="grad-index"></div>
<div class="text-center">
  <h1>Online Test</h1>
</div>
<!-- <div class="text-right">
        <a href="/manage_questions" class="btn btn-primary">Manage Questions</a>
        <a href="/all_question" class="btn btn-primary">All Questions</a>
</div> -->
 <br/>
 <br/>
<div class="container">
  <div class="row col-sm-8 col-md-offset-2">
    <div class="col-sm-8 col-md-offset-2">
      <h3><u style="color: #fff;"><b>Instructions:</b></u></h3>
      <br/>
      <ul class="font-clr">
      	<li><p>Test will be of 40 minutes</p></li>
      	<li><p>No copying will be entertained</p></li>
      	<li>Each question is mandatory</li>
      </ul>
      
      
    </div>    
  </div>
  <div class="row">
  	 <div class="col-sm-6 col-md-offset-2" align="center">
  	 	<a href="/start_test" class="btn btn-primary">Start Test</a>

  	 </div>
  </div>
</div>



</body>
</html>
