<!DOCTYPE html>
<html lang="en">
<head>
<title > Test Online App</title>
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body >

<div class="text-center">
  <h1>Test Online</h1>
</div>
<div class="text-right">
        <a href="/manage_questions" class="btn btn-primary">Back</a>
</div>
 <br/>
 <br/>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-offset-2">
       {% with messages= get_flashed_messages() %}
       
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
        
       {% endwith %}
     
      <h3><u>All Questions:</u></h3>
      <br/>
          {% for each in questions %}
            <div class="row">
             <div class="col-xs-1">
              <b>ID:</b>{{each.id}}
             </div>
             <div class="col-xs-9">
               <b>Q:</b> {{each.question}}
             </div>
             <div class="col-xs-2">
              <b>Active:</b>{{each.is_active}}
             </div>
             <a href="{{ url_for('edit_question',ques_id=each.id) }}" class="btn btn-success">Edit</a>
             <a href="{{ url_for('delete_question',ques_id=each.id) }}" class="btn btn-success">Remove</a>

            </div>
            <table class="table">
              <thead>
                <th>Options</th>
                <th>Is Right Choice</th>
                <th>Create Date</th>
              </thead>
              {% for each_child in each.questions_choices %}
              <tr>
                <td>
                  {{each_child.choice}}
                </td>
                <td>
                  {{each_child.is_right_choice}}
                </td>
                <td>
                  {{each_child.created_date}}
                </td>
              </tr>
              {% endfor %}
            </table>
          {% endfor %}
    
      
      
    </div>    
  </div>
  <div class="row">
  	 <div class="col-sm-6 col-md-offset-2" align="center">
  	<!--  	<a href="/start_test" class="btn btn-primary">Start Test</a> -->

  	 </div>
  </div>
</div>


<div 
</body>
</html>
