<!DOCTYPE html>
<html lang="en">
<head>
<title > Test Online App</title>
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    //define your time in second
        var c=20;
        var t;
        timedCount();

        function timedCount()
        {

            var hours = parseInt( c / 3600 ) % 24;
            var minutes = parseInt( c / 60 ) % 60;
            var seconds = c % 60;

            var result = (hours < 10 ? "0" + hours : hours) + ":" + (minutes < 10 ? "0" + minutes : minutes) + ":" + (seconds  < 10 ? "0" + seconds : seconds);

            
            $('#timer').html(result);
            if(c == 0 )
            {
                //setConfirmUnload(false);
                $("#auto_sub_quiz").submit();
                // window.location="logout.html";
            }
            c = c - 1;
            t = setTimeout(function()
            {
             timedCount()
            },
            1000);
        }

   //  function startTime() {
   //      var today = new Date();
   //      var h = today.getHours();
   //      var m = today.getMinutes();
   //      var s = today.getSeconds();
   //      m = checkTime(m);
   //      s = checkTime(s);
   //      document.getElementById('txt').innerHTML =
   //      h + ":" + m + ":" + s;
   //      var t = setTimeout(startTime, 500);
   //  }
   //  function checkTime(i) {
   //      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
   //      return i;
   //  }
   //  // setTimeout(function(){ 
   //  //   alert("Hello");
      
   //  //  }, 3000);

   // function preventBack(){window.history.forward();}

   //  setTimeout("preventBack()", 0);

   //  window.onunload=function(){null};

    </script>

</head>
<body onload="startTime()"> 

<div class="text-center">
  <h1>Test Online: Questions (MCQ)<a href="/" class="btn btn-primary">Back</a></h1>
  <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> {{name.upper()}}</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

      </ul>
</div>
<h3 style="color:#FF0000" align="center">
 Time : <span id='timer'></span>
 </h3>
<!-- div >
  <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> {{name.upper()}}</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

      </ul>
</div> -->
 <br/>
 <br/>
<div class="container">
  <div class="row">
    <div class="text-right" >
      <h2><div id="txt"></div>
      </h2>
    </div> 
  </div>
  <form action="/submit_test" method="POST" id="auto_sub_quiz" class="form-horizontal" enctype="multipart/form-data">
    {% set count = 1 %}
    {% for each in questions |sort(attribute='id')%}
      <div class="form-group">
         <input type="text" name="question_{{each.id}}" id="{{each.id}}" style="border: 0;font-size: 1.5em;"class="form-control" value="Q{{count}}: {{each.question}}" readonly><br/>
      </div>
      <div class="form-group">
      {% for option in each.questions_choices |sort(attribute='id')%}
        <input type="radio" name="choice_{{each.id}}" id="{{option.id}}" value="{{option.choice}}">&nbsp;&nbsp;&nbsp;{{option.choice}}</input><br/>
      {% endfor %}
    </div>
     {% set count = count + 1 %}
    {% endfor %}
    <br/>
    <center>
        <button type="submit" class="btn btn-primary">Submit Test</button>
    </center>
  </form>

  <div class="row">
    <!-- <div class="col-sm-12 col-md-offset-1" align="left">
      <p>here will be all questions</p>
      {% for each in questions %}
        <h3>{{each.question}}</h3>
          {% for option in each.questions_choices %}
            <p>{{option.choice}}</p>
          {% endfor %}
      {% endfor %}
      
    </div>     -->
  </div>
 
</div>


<div 
</body>
</html>
