<!DOCTYPE html>
<html lang="en">
<head>
<title > Test Online App</title>
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--For creating Pie Chart-->
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script type="text/javascript">

    

    window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		title:{
			text: "Your Report"
		},
		legend: {
			maxWidth: 350,
			itemWidth: 120
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
			dataPoints: [
				{ y: {{ correct_ans }}, indexLabel: "Correct Answers" },
				{ y: {{ incorrect_answers }}, indexLabel: "Incorrect Answers" }
			]
		}
		]
	});
	chart.render();
}

function disableF5(e) { if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82) e.preventDefault(); };

//for disable the back button
    $(document).ready(function() {
      window.history.forward(-1);
        // window.history.pushState(null, "", window.location.href);        
        // window.onpopstate = function() {
        //     window.history.pushState(null, "", window.location.href);
        // };

             $(document).on("keydown", disableF5);

    });

</script>
</head>
<body >

<div class="text-center">
  <h1>Test Have been submitted sucessfully!</h1>
</div>
<br/>

<div class="text-right">
    {% if current_user.is_admin %}
        <a href="/manage_questions" class="btn btn-primary">Manage Questions</a>
        <a href="/all_question" class="btn btn-primary">All Questions</a>
    {% endif %}
</div>
<div class="container">
  <h3>Thank you {{ name.username }} for submitting the exam. Your report are as follows</h3>
    <table class="table" style="border:2px solid black;">
        <thead>
        <th>Total Questions</th>
        <th>Correct Answers</th>
        <th>Incorrect Answers</th>
        <th>Percentage</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ question_count }}</td>
                <td>{{ correct_ans }}</td>
                <td>{{ incorrect_answers }}</td>
                <td>{{ user_percentage }}</td>
            </tr>
        </tbody>
    </table>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>
 

</body>
</html>
